
nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 10vh;
}


img#logoticoUTA {
    height: 8vh;
}

img#logoticoUTA:hover {
    cursor: pointer;
}


h1.titulo {
    font-size: clamp(0.2em, 0.5em + 1vw, 1.25em);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E3E0DF;
    font-weight: normal;
}





ul li {
    margin-left: 32px;
    letter-spacing: 1px;
    color: white;
}


