

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EDEBEA;
    
}
div#root{
    display: flex;
    height: 100%;
    justify-content: center;


}


img#logoticoUTA{
    height: 8vh;
}

nav ul a{
    color:white;
    text-decoration: none;

}
nav ul a:hover{
    opacity: 0.7;
    color: #B5CDDC;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E3E0DF;
    font-weight: normal;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvertica, Arial,sans-serif;
    background-color: #23232e;
    height: 10vh;
}





.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    margin-left: 32px;
    letter-spacing: 1px;
}





/*-----------------Div button--------------------------*/
main{
    position: relative;
    display: flex;
    left:30vh;
    top:25vh;
}
.btn-pg-ini{
    text-align: center;
    font-family: system-ui, -apple-system, Helvertica, Arial,sans-serif;
    color: #DDDDDD;

    padding: 8px;
    background-color: #2F5063;
    border-radius: 8px;
    width: 15%;
    margin-left: 10vh;
}
.btn-pg-ini:hover{
    cursor: pointer;
    color: #23232e;

    background-color: #5A7687;
}

/*-----------------------------------------------------*/





/*-------------------------------- resposivo para telemóveis------------------------------------*/
@media (max-width: 999px) {
    body{
        overflow-x: hidden;

    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 20vh;
        background-color: #31313C;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in ;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }


    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu div{
        cursor:pointer;
        width: 32px;
        height: 2px;
        background-color: white;
        margin: 8px;
        transition: 0.4s ;
    }
    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

}

@media (max-width: 600px) {
    .logo{
        font-size: 12pt;
        letter-spacing: 0;
    }
    img{
        width: 23vh;
        height: 8vh;
    }

}

@media (max-width: 500px) {
    .logo{
        font-size: 12pt;
        letter-spacing: 0;
    }
    .nav-list li{
        font-size: 9pt;
    }
    .mobile-menu div{
        width: 25px;
        height: 2px;
        margin: 5px;
    }
    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    img{
        width: 23vh;
        height: 8vh;
    }


}
/*--------------------------------------------------------------------------*/
