.button-recuperar-cancelar-guardar button{
    background-color: #2F5063;
    border-color: #2F5063;
    margin-left: 5px;
    margin-top: 5%;
}

.button-recuperar-cancelar-guardar{
    margin-left: 37%;
}